/* .contenedorPagina{
    width: 90%;
    margin: 0 auto;
} */
header img{
    display: block;
}

header div{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div img{
    width: 100%;
    object-fit: cover;
}

.containerPrincipal{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.containerCiudades{
    width: 50%;
}
.containerPronostico{
    width: 50%;
}